## 1 задача
Оформляйте ноутбук, используя эти советы:

- Номер задачи - заголовок 2
- Номер подзадачи - заголовок 3
- Предоставленные наборы данных оформляйте, как код

## 2 задача
На складе лежат разные фрукты в разном количестве.

Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [3]:
def fruits_sum(**kwargs):
    {print(f"* {name} в количестве {values} шт")
     for name, values in kwargs.items()}
    return print(f'Общее количество фрутов: {sum(kwargs.values())}')

fruits_sum(яблоки = 33, киви = 44, бананы = 55)

* яблоки в количестве 33 шт
* киви в количестве 44 шт
* бананы в количестве 55 шт
Общее количество фрутов: 132

## 3 задача
Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. 
Удалите такие значения из списка и посчитайте суммарные затраты

`[100, 125, -90, 345, 655, -1, 0, 200]`

Используйте list comprehensions

In [4]:
list = [100, 125, -90, 345, 655, -1, 0, 200]
summ = sum(a for a in list if a > 0)
print(f'Суммарные затраты: {summ}')

Суммарные затраты: 1425

## 4 задача
Даны два списка.

Дата покупки

`['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']`

Суммы покупок по датам

`[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]`

In [5]:
date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09',
        '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26',
        '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27',
        '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01',
        '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31',
        '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
summ = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701,
        4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004,
        2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре

Используйте list comprehensions

In [6]:
summ_november = sum([s for d, s in zip(date, summ) if d[5:7] == "11"])
print(f'Выручка компании в ноябре: {summ_november}')

Выручка компании в ноябре: 25098

### 4.2 Найдите выручку компании в зависимости от месяца

Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.

Используйте аннотирование типов.

In [7]:
import pandas as pd
import datetime
 
df = pd.DataFrame()
df['Date'] = [datetime.datetime.strptime(i, '%Y-%m-%d') for i in date]
df['Sum'] = summ
df['Month'] = pd.DatetimeIndex(df['Date']).month
df.groupby('Month').sum()

<ipython-input-7-b459a5aad4c3>:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Month').sum()

         Sum
Month
9      25647
10     28645
11     25098
12     45452